.footer {
    padding-bottom: 70px;
    &--centralize {
 display: flex;
    flex-direction: column;
    align-items: center;
   }
    &__logo {
margin-bottom: 24px;
    }
    &__rights {
margin-bottom: 32px;
    letter-spacing: 1px;
    }
    &-social__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    }
    &-social__item {
    height: 24px;
    width: 24px;
    line-height: 24px;
    display: inline-block;
    margin: 0 6px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    font-family: $font-stack-1;
    font-size: 14px;
    font-weight: 400px;  
    }
    &-social__item {
    height: 24px;
    width: 24px;
    line-height: 24px;
    display: inline-block;
    margin: 0 6px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    font-family: $font-stack-1;
    font-size: 14px;
    font-weight: 400px;  
}
}
 

.footer-social__item--deep-blue {
  background-color:  #3b5998;   
}

.footer-social__item--deep-blue:hover {
    background-color: white;
    text-decoration: none;
    color: #3b5998;
    border: 0.5px solid #3b5998;
    transition: 0.2s;
    }

.footer-social__item--blue {
    background-color:  #26a6d1;
    padding-left: 2px;
}

.footer-social__item--blue:hover {
    background-color: white;
    text-decoration: none;
    color: #26a6d1;
    border: 0.5px solid #26a6d1;
    transition: 0.2s;
    }

.footer-social__item--blue-blue {
    background-color:  #0e76a8;
    padding-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1px;
}

.footer-social__item--blue-blue:hover {
   background-color: white;
    text-decoration: none;
    color: #0e76a8;
    border: 0.5px solid #0e76a8;
    transition: 0.2s; 
}

.footer-social__item--blue-new {
    background-color:  #3f729b;
    padding-left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1px;
}

.footer-social__item--blue-new:hover {
   background-color: white;
    text-decoration: none;
    color: #3f729b;
    border: 0.5px solid #3f729b;
    transition: 0.2s; 
}

.footer-social__item--blue-light {
   background-color:  #86c9ef;
}

.footer-social__item--blue-light:hover {
    background-color: white;
    text-decoration: none;
    color: #86c9ef;
    border: 0.5px solid #86c9ef;
    transition: 0.2s;
}


.scrolloff {
        pointer-events: none;
    }

svg:hover {
    cursor: pointer;
}

.green_button:hover {
darken:($button_back_to_top, 20%);
}
