$font-stack-1: 'Open Sans', 'Arial', sans-serif;
$font-stack-2: 'Source Sans Pro', 'Arial', sans-serif;
$button_color: #19bd99;
$button_back_to_top: rgb(25,189,153);
$fixed_button: rgba(25, 189, 153, 0.3);
$bg: rgb(25, 189, 153);